#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}

.input-fields {

  display: flex;
  flex-direction: column;

  padding: 10px;

}

.spacing {

  min-height: 20px;
}

.spacing.wide {

  min-height: 100px;
}